@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 6px;
    color: #333;
    transition: 0.2s;
    padding-right: 30px;
}
:root{
    --first: #e76f51;
    --second: #f4a261;
    --third: #e9c46a;
    --fourth: #2cad9e;
    --fifth: #254a58;

}

.instagram a:hover {color: var(--first);}
.facebook a:hover {color: var(--first);}
.vk a:hover {color: var(--first);}
.telegram a:hover {color: var(--first);}
a{
    text-decoration: none;
}
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    color: #333;
    font-size: 18px;
    background-color: rgb(247, 247, 247);
}

.en{
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.lang_buttons{
	text-align: right;
}
.button{
    text-decoration: none;
    font-size: 20px;
    color: #333;
}
button:hover{
    color: var(--first)
}
.en{
    position: absolute;
    top: -9999px;
    left: -9999px;
}




.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index:50;

}
.header-container{
    margin: 0 5%;
}
.container , .container-contacts{
    margin: 0 250px;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);   
    box-shadow: 0 0 10px 5px rgb(238, 238, 238);

    border-radius: 13px 13px;
    z-index: -1;
}
.main-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow:hidden;
    background: linear-gradient( -150deg, var(--fourth),var(--fifth));  
    padding-bottom: 150px;
}

.header{
    background-color: rgb(247, 247, 247);
}
.header-line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 16px 20px -20px rgb(83, 83, 83);
    
}

.name-logo{
    padding-left: 10px;
    padding-right: 23px;
    border: var(--fifth) 4px solid;
    border-radius: 30px 30px;
}
.name-logo a{
    position: relative;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;

}
.name-logo a::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--first);
    top: 50%;
    left: 101%;
}
.nav{
    display: flex;
    justify-content:space-around;
    list-style: none;
    position: relative;
    
}

.nav ul {
    width: auto;
    display: none;
    position: absolute;
    background-image: url(img/header-img.png);
    padding-bottom: 15px;
    list-style: none;
    right:-26px;
    border-radius: 2%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.nav li:hover > ul {
    display:block;
}


.nav ul li {   
    position: relative;
}
.nav-item{
    color: #333;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-right: 25px;
    transition: 0.1s;
}
.mob-leng{
    display: none;
}

.nav-item:hover{
    color: var(--first);
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-holder{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-left: 0px;
    height: 95vh;

}
.bg-1, .bg-2, .bg-3, .bg-4{
    position:absolute;
    width:800px;
    height: 200px;
    border-radius: 100px 100px;
    top: 10vh;
    right: 7vw;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    transform: rotate(-45deg);
    z-index: 0;
}
.bg-2{
    width:600px;
    height: 200px;
    top: 17vh;
    right: -13vw;
}
.bg-3{
    width:820px;
    height: 178px;
    top: 57vh;
    right: 56vw;
}
.bg-4{
    width:1000px;
    height: 220px;
    top: 11vh;
    right: 76vw;
}
.main-text{
    position:relative;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 100px;
    width: min-content;
    line-height: 1;
    text-align: left;
    left: 100px;
    top:50px;
    z-index: 2;
}
.main-subtitle{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-top: 30px;
    line-height: 1.2;
}
.main-img-holder{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    bottom: 10%;
    
}
.main-photo{
    width: 38vw;
    height: auto; 
    border-radius: 1.2%;
    box-shadow: 1px 1px 20px 1px rgb(0, 0, 0);

}
.main-btn-holder{
    position: absolute;
    background: linear-gradient(45deg, var(--first) 10%,var(--second) 80%);  
    width: max-content;
    padding: 0 10px;
    height: 60px;
    border-radius: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    box-shadow:  0px 20px 20px rgb(33 72 70);
    z-index: 20;
}
.main-btn{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.main-btn::after{
    position: absolute;
    content: '›';	
    font-size: 45px;
    transform: rotate(90deg);
    top: 30px;
    right: 45%;
    opacity: 0.7;

}
.main-btn-holder:hover{
    filter: brightness(0.86);
    background: linear-gradient(90deg, var(--first) 30%,var(--second) 70%);  

}
.info-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-img-holder{
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-img{
    height: 240px;
    border-radius: 50%;
    border: solid white 15px;
}
.about-scroll::before{
    display: block;
	content: "";
	height: 200px;
	margin: -200px 0 0;
}

.info-text{
    position: relative;
    bottom: 110px;
    font-weight: 400;
    padding-left: 20px;
}
.info-text p{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}
.info-text span{
    margin-left: -15px;
    font-weight: 400;
    font-size: 18px;
}
::marker{
    color: var(--first);
    font-size: 25px;
    letter-spacing: 0.1px;
    line-height: 1.2;
    padding-right: 10px;
}
.info-text::after{
    content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 5px;
  top: 21px;
    border-bottom: 2px solid rgb(224, 224, 224);

}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    position: relative;
    bottom: 40px;
    
}
summary {
   padding: .3em .6em .3em 1.5em;
   font-size:18px;
   cursor: pointer;
   position: relative;
   display:flex;
    flex-direction: row;

}
summary h5{
    font-size: 20px;    
    font-weight: bold;
    margin:0;
    margin-left: 10px;
}
summary ul{
    margin: 0;
}
summary ::marker{
    color: black
}
summary:before {  
  left: .3em;
  top: 15px;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 35px 35px;
  width: 1em;
  height: 1em;  
  background-color: #fff;
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: rotateZ(90deg);
}

details[open] summary ~ *{ 
    padding:  0 15px;
    padding-bottom: 10px;
  animation: sweep .5s ease-in-out;
  margin-left: 30px;

}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
details{
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 5px rgb(228, 228, 228);
  border-radius: 5px 5px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}


summary::marker{
    display:none;
    opacity: 0;} 
span{
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
}

a.anchor{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

.projects{
    margin-top: 50px;
    margin-bottom: 50px;
}
.projects h1{
    text-align: center;
    font-size: 35px;
}
.project-block a{
    line-height: 1;
}

.projects-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-text{
    color: #333;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    line-height: 2;
    padding-bottom: 20px;
    position: relative;
}
.project-text > h3{
    text-align:center;
    padding-bottom: 5px;
    margin: 20px 0;
    border-bottom: 2px solid rgb(224, 224, 224);
}
.project-text  h4{
    font-size: 22px;
    margin-bottom: 15px;
}

.project-text > p{
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-name{ 
    color: #fefefe;
    position: absolute;
    bottom: 0;
    width: 100% ;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 2;
    z-index: 2;
    padding-bottom: 10px;

}

.project-block, .img-block{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 5px 5px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition: 0.3s;
    overflow: hidden;
}

.project-header-img{
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.project-block::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-image: linear-gradient(
    180deg,
    transparent 50%, black);
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
}

.project-img{
    width: 23vw;
    height:15vw;
    margin:20px 0;
    border-radius: 1%;
    object-fit: cover;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}   
.project-header-img:hover{
    filter: brightness(0.8);
    transform: scale(1.1);
}



.project-img-holder{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 60;    
    display: none;
    opacity: 0;
    animation: fadeInFromNone 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;

    }
    
.overlay:target {
    opacity: 1;
    display: block;
    }

.popup{
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 100;
    margin: auto auto;
    width: 75vw;
    height: 90vh;
    top: 50%;
    left: 53%;
    margin-top: -47vh; 
    margin-left: -44vw;
    padding: 8px 50px;
    background: #fefefe;
    border-top-left-radius: 9px 9px;
    border-top-right-radius: 9px 9px;
    overflow-y: scroll;
    animation: fadeInFromNone 0.5s ease-in-out;
    box-shadow: 0 0 10px 5px rgb(90, 90, 90);

}

.popup::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141);
    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;  
  }
  
.popup::-webkit-scrollbar {
    width: 17px;
  }
    
.overlay:target+.popup {
    display: block;
    opacity: 1;
}

@keyframes fadeInFromNone {
        0% {
          display: none;
          opacity: 0;
        }
      
        1% {
          display: block;
          opacity: 0;
        }
      
        100% {
          display: block;
          opacity: 1;
        }
}
.close {
    display: flex;
    font-size: 50px;
    font-weight: 200;
    color:white;
    width: 50px;
    height: 50px;
    position: fixed;
    padding: 0;
    border-radius: 50%;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    left: 85%;
    top: 5%;
} 
.close:after{
    content: "\00d7";
}
.close:hover {
    background-color: rgba(197, 197, 197, 0.8);
}
.gallery{
    margin-top: 50px;
    margin-bottom: 50px;
}
.gallery-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    text-decoration:underline;
    text-decoration-color: var(--first);
    text-underline-offset: 10px;
    margin-top: 0;
}
.limiter {
  max-height: 520px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 0.3s;
}
.limiter .bottom {
  position: sticky;
  bottom: 0;
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255), transparent);
  width: 100%;
  height: 60px;
  opacity: 1;
}
.read-more-checker {
  opacity: 0;
  position: absolute;
  

}
.read-more-checker:checked ~ .limiter {
  max-height: none;
  
}
.read-more-checker:checked ~ .limiter .bottom {
    height: 0;
  opacity: 0;
}
.read-more-checker ~ .read-more-button::before {
    content: "Развернуть ▼";
    
}
.read-more-checker:checked ~ .read-more-button:before {
  content: "Свернуть ▲";
  
}
.read-more-button:hover{
    filter: brightness(0.86);
    background: linear-gradient(90deg, var(--first) 30%,var(--second) 70%);  

}
.read-more-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 100px;
    background: linear-gradient(45deg, var(--first) 10%,var(--second) 80%);  
    width: max-content;
    padding: 0 20px;
    height: 65px;
    border-radius: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 10px 20px rgb(107, 107, 107);
    transition: 0.2s;
    }

.img-block{
    width: 300px;
    height: 200px;
    border-radius: 2%;
    justify-content: center;
    transition: 0.3s;
}
.gall-header{
    height: 100%;
    width: 100%; 
    transition: 0.3s;

    
}
.gall-header:hover{
    cursor: url("http://i.webkub.com/loupa.cur");
    filter: brightness(0.8);
    transform: scale(1.1);
}

.img-popup{
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 1%;
    transform: translate(-50%, -50%);
    z-index: 100;
    animation: fadeInFromNone 0.5s ease-in-out;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.overlay:target+.img-popup {
    display: block;
    opacity: 1;
}


.contacts-scroll::before{
    display: block;
	content: "";
	height: 120px;
	margin: -120px 0 0;
}
.contacts{
    text-align: center;
    margin-bottom: 50px;
}

.contacts-text{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}
.contacts-holder{    
    background: linear-gradient(45deg, var(--first),var(--second));  
    color: white;
    text-align: center;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 20px 20px;
    margin-bottom: 50px;
}
.contact-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.contacts h1{
    font-size: 40px;
}
.contact-img{
    width: 50%;
    height: auto;
    border-bottom-right-radius: 1%;
    border-top-right-radius: 1%;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.contact a{
    text-decoration: none;
    color:#fefefe;
    font-size: 35px;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.2s;
}
.contacts a:hover{
    color: white;
    filter: invert();
}


.kinolift{
    border-radius: 20%;
    width: 45px;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
}
.icon{
    width: 50px;
    height: 50px;

}

.social-media-contacts{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content:space-around;
    padding-right: 0;
}
.social-media-contacts a{
    color: white;
    transition: 0.2s;  
}
.social-media-contacts .fa-2x{
    font-size: 3em;
}


.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: #444;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.social-media-footer{
    display: none;
    flex-direction: row;
    justify-content: space-around;
}

.burger{
    display: none;
}
.burger span, .burger:after, .burger:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
    border-radius: 2px;
}
.burger span{
    top: 21px;
}
.burger:after, .burger:before{
    content: '';
}
.burger:after{
    bottom: 3px;
}
.burger:before{
    top: 13px;
}

.burger.open-menu span {
    opacity:0; 
    transition: 0.5s; 
}
.burger.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.burger.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}
.none{
    display: block;
}
@media(max-width: 1640px){
    .main-holder{
        align-items: stretch;
    }
    .main-img-holder{
        bottom: 5%;
        margin-right: 20vw;
    }
    .main-photo{
        position: relative;
        right: 20%;
    }
}
@media(max-width: 1475px){
    .name-logo{
        display: none;
    }
    .container{
        margin: 0 160px;
    }
    .project-block{
        margin-left: auto;
        margin-right: auto;
    }
    .contacts-text{
        font-size: 45px;
    }
    .kinolift{
        width: 20px;
        height: 20px;
    }
    .social-media-contacts .fa-2x {
        font-size: 40px;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .container-contacts{
        margin: 0 0;
    }

}


@media(max-width: 1131px){
    
    .main-btn{
        font-size: 20px;
    }
    .main-btn-holder{
        height: 60px;
    }
    .container{
        margin-left: 160px;
        margin-right: 160px;
    }
    .social-media{
        display: none;
    }
    .social-media-footer{
        display: flex;
        justify-content: space-around;
    }
    .social-footer a{
        margin: 0 auto;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 15px;
        color: white;
        transition: 0.1s;
    }
    .project-block{
        width: 60VW;
        height: 35vh;
    }

    .name-title{
        color: white;
        padding: 0;
        font-size: 40px;
    }
    .name-subtitle{
        color: white;
        font-size: 20px;
    }
    .nav-item , .nav-item-mob{
        font-size: 20px;
    }
    .img-block{
        width: 130px;
        height: 100px;
    }
    .nav{
        padding: 0 0;
    }
    .contact-img{
        display: none;
    }
    .contact-left{
        height: 600px;
        background-image: url('img/contact-mob-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media(max-width: 842px){
    body{
        background-color: #fff;
    }
    .container , .container-contacts{
        box-shadow: none;
        padding: 0 10px;
    }
    .container-contacts{
        margin:0;
        padding:0;
    }
    .burger {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
    }

    .header-line{
        justify-content: flex-start;
        padding: 10px;
        border-bottom: rgb(148, 148, 148) 0.5px solid;
        box-shadow: none;
    }
    .nav{
        display: inline;
        position: absolute;
        top: 55px;
        left: 0;
        padding-left: 20px;
        background: rgb(245, 246, 246);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        left: calc(-100% - 20px);
        transition: all 0.4s ease;
        margin: 0;
        height: 100vh;
        opacity: 0.93;
        padding-top: 10px;
        }
    .nav.open-menu {
        left: 0;
        margin: 0;
    }
    .nav-item-mob{
        display: block;
    }
    .mob-leng{
        display: block;
        text-align: left;
    }
    .none{
        display: none;
    }
    

    .social-media{
        display: none;
        
    }

    .main-container{
        margin-bottom: 0;
        padding-bottom: 100px;
    }
    .main-holder{
        position: relative;
        bottom: 10vh;
        flex-direction: column;
        padding-left: 0;
        justify-content: space-around;
        align-items: center;
    }
    .main-img-holder{
        position: unset;
        margin-right: 0;
    }
    .main-photo{
        position: absolute;
        left: 50%;
        top:30%;
        width: 80vw;
        border-radius: 5%;
    }

    .main-text{
        position: relative;
        left:unset;
        top:unset;
        right:10VW;
        bottom:14vh;
        font-size: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }
    .main-subtitle{
        font-size: 20px;
        margin-top: auto;
    }
    .bg-1{
        height: 125px;
        width: 376px;
        top: 32vh;
        right: -17vw;

    }
    .bg-2{
        height: 94px;
        width: 412px;
        top: 14vh;
        right: 13vw;
    }
    .bg-3{
        top: 93vh;
    }

    .container{
        margin: 0 10px;
    }
    .about-img{
        height: 130px;

    }
    .about-img-holder{
        bottom:65px
    }
    .info-text{
        bottom: 75px;
        font-size: 15px;
        padding: 0;
    }
    .info-text span{
        font-size: 15px;
    }
    .info-text::after{
        content: none;
    }
    ::marker{
        color: var(--first);
        font-size:25px;
        letter-spacing: 0.1px;
        line-height: 1.2;
    }
    .kino{
        font-size: 15px;
        text-align: center;
    }
    .about-scroll::before{
        height: 150px;
        margin: -150px 0 0;
    }
    .info-text p{
        font-size: 40px;
        margin: 20px 0;
    }
    .timeline{
        margin-left: 10px;
        text-align: left;
    }
    .projects{
        margin:0;
    }
    .project-header-img{
        min-height: 100%;
        text-align: center;
        object-fit: cover;
    }
    .project-block{
        width:90vw;
        height: 40vw
    }
    .project-text{
        text-align: left;
        font-size: 15px;
        padding-left: 5px;
    }
    .project-text  h3{
        font-size: 20px;
        margin-top: 0;
    }
    .project-text  h4{
        font-size: 18px;
        line-height: 1.5 ;
    }
    
    .project-name{
        font-size: 13px;
        line-height: 1.2;
    }
    .project-img-holder{
        min-height: 100%;
        text-align: center;
    }summary h5{
        font-size: 17px;    
    }
    summary:before {  
        background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 25px 25px;
        width: 18px;
        height: 13px;  
        background-color: #fff;
        content: "";
        position: absolute;
        transition: transform .5s;
      }
    summary{
        font-size: 10px;
    }
    .project-img{
        width: 300px;
        height: auto;
        margin: 5px 0;
    }
    iframe{
        width: 90%;
    }
    .popup{
        margin:0;
        margin-top:0;
        margin-left:0;
        width: calc(100vw - 37px);
        height: 84vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 20px;
        overflow-x: hidden;
        border-radius: 0;
        border-bottom-left-radius: 30px 30px;
        border-bottom-right-radius: 30px 30px;
    }
    .row{
        flex-direction: column;
    }
    .anchor::after{
        content: '';
        position: absolute;
        
    }
    a.anchor{
        top: -70px;
    }
    .close{
        position: fixed;
        top: 83vh;
        left: 45vw;
        height: 35px;
        width: 35px;
    }
    .close::after{
        font-size: 40px;
    }
    .gallery{
        margin:0;
    }
    .img-block{
        width: 142px;
        height: 110px;
    }
    .limiter{
        max-height: 300px;
    }
    .read-more-button{
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 65px;
        height: 53px;
    }
    .contacts-scroll::before{
        height: 100px;
        margin: -100px 0 0;
    }
    .read-more-checker:checked ~ .read-more-button {
        margin-top: 10px;
    }
    .contacts-text{
        font-size: 25px;
    }
    .contact {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .contact a{
        font-size: 20px;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .kinolift{
        width: 34px;
        height: 34px;
        margin-top: 0;
    }
    .social-media-contacts .fa-2x {
        font-size: 35px;
    }
    

}
