@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 6px;
    color: #333;
    transition: 0.1s;
    padding-right: 30px;
}


.instagram a:hover {color: tomato;}
.facebook a:hover {color: tomato;}
.vk a:hover {color: tomato;}
.telegram a:hover {color: tomato;}

body{
    margin: 0;
    font-family: "Jost", sans-serif;

}

.header{
    position: sticky;
    top: 0;
    background-color: white;
}
.container{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 166px;
    margin-right: 166px;
}

.header-line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: rgb(148, 148, 148) 2px solid

}
.name-logo{
    color: #333;
    font-family: "Jost", sans-serif;
    font-size: 30px;
}
.nav{
    display: flex;
    justify-content:space-around;
    padding: 20px 0;
    list-style: none;
}

.nav ul {
    display: none;
    position: absolute;
    top: 60%;
    background-color: white;
    list-style: none;
    padding-top: 20px;
}

.nav li:hover > ul {
    display:inherit;
}
.nav li ul:hover > ul {
    display:inherit;
}

.nav ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
.nav-item{
    color: #333;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-right: 25px;
    transition: 0.1s;
}

.nav-item:hover{
    color: tomato;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    margin: 50px 0px;
    align-items: center;
    margin-bottom: 100px;

}

.name-title{
    display: flex;
    flex-direction: column;
    color: #333;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 65px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0 40px;
}
.name-subtitle{
    color: #333;
    font-size: 30px;
    font-weight: 400;
}

.main-photo{
    width: 30%;
    height: auto;
}

.info-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.about-img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    
}

.info-text{
    color: #333;
    font-size: 25px;
    font-weight: 400;
    padding-left: 20px;

}
.info-text p{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.info-text span{
    font-size: 30px;
    font-weight: bold;

}

.timeline {
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 30px 0 30px 50px;
  
    list-style: none;
  }
  
  .timeline::before {
    position: absolute;
    top: 30px;
    left: -1px;
  
    width: 2px;
    height: 90%;
  
    background: #333;
  
    content: "";
  }
  
  .timeline-item {
    position: relative;
  
    margin-bottom: 100px;
  }
  
  .timeline-item:last-of-type {
    margin: 0;
  }
  
  .timeline > ::before {
    position: absolute;
    top: 15%;
    left: -60px;
  
    width: 20px;
    height: 20px;
  
    background: tomato;
  
    border-radius: 50%;
  
    content: "";
  }


a.anchor{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;

}
.projects{
    margin-top: 100px;
}
.projects h1{
    text-align: center;
}

.projects-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-text{
    color: #333;
    font-size: 25px;
    font-weight: 400;
    padding-left: 20px;
    width: 100%;
    text-align: center;
}

.project-block a{
    color: #333;
    font-family: "Jost", sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
.project-img{
    width: 450px;
    height: auto;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;

    }
    
    .overlay:target {
    display: block;
    }
    
.popup {
    display: flex;
    flex-direction: row;
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 2%;
    transform: translate(-50%, -500%);
    font-size: 20px;
 
    }
    
    .overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
    }
    
    .close {
    
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    }
    
    .close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "х";
    font-size: 25px;
    }
    
    .close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #444;
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 20px;
}


@media (max-width: 1380px) {
    .name-logo {display: none;}
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
  }
  
  @media (max-width: 1035px) {
    .social{
        display: none;
    }
}

  @media (max-width: 991px){ }
  
  @media (max-width: 767px){ }
  
  @media (max-width: 575px){ }